body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #e1e1e1;
}

.center {
    text-align:center;
    padding:15px;
}

.button {
    background: #bababa;
    border-radius: 5px;
}

.title {
    text-align:center;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}

.table {
    text-align: center;
    width: 100%;
    margin-top: 15px;
    border-style: outset;
    border-width: 5px;
    border-color: #ffffff;
    border-radius: 5px;
}

.cell {
    width: 25%;
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff;
    vertical-align: middle;
}

.cellThumb {
    width: 25%;
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff;
    vertical-align: middle;
    font-size: 35px;
}

.cellGreen {
    width: 25%;
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff;
    background: #afe35ff3;
}

.cellYellow {
    width: 25%;
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff;
    background: #e3c44cf3;
}

.cellRed {
    width: 25%;
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff;
    background: #ff7e40;
}

.input {
    width: 90%;
    margin-bottom: 3px;
}

.inputTime {
    width: 44%;
    margin-left: 5px;
    margin-bottom: 3px;
}

.error {
    text-align: center;
    color: #ff1554
}

.rotated-th {
	height: 115px;	
	position: relative;
}

.rotated-th__label {
	bottom: -10px;
	left: 50%;
	position: absolute;
	transform: rotate( -70deg );
	transform-origin: center left;
}
